.blog-column {
    display: flex;
    padding-top: 50px;
    position: relative;
    @include tablets {
        align-items: center;
        justify-content: center;
    }
}

.blog-column__nav,
.blog-column__empty {
    width: 25%;
}

.blog-column__empty {
    @include laptop {
        width: 10%;
    }
    @include tablets {
        display: none;
    }
}

.blog-column__article {
    width: 50%;
    @include laptop {
        width: 65%;
    }
    @include tablets {
        width: 95%;
    }
}

.blog-column__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include tablets {
        transition: 2s;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 100%;
        width: 40%;
        margin: 0;
        left: -40%;
        max-width: none;
        background-color: #253468;
        align-items: flex-end;
        z-index: 10;
    }
    @include phones {
        width: 50%;
        left: -50%;
    }
    &.blog-column_nav_active {
        @include tablets {
            transition: 2s;
            left: 0;
        }
    }
}

.blog-column__anchor {
    display: none;
    @include tablets {
        display: block;
        z-index: -1;
        position: absolute;
        top: 140%;
        transform: translateY(-50%);
        right: -0.75rem;
        width: 54px;
        height: 54px;
        background-color: #253468;
        border-radius: 50%;
    }
    @include phones {
        top: 120%;
    }
}