extends ../main.layout.pug

block variables
    - var title = 'Обо мне';
    - var titlePage = 'Козырицкий Максим';
    - var titleSite = 'Личный сайт веб-разработчика';

block scripts
    script(src='about.bundle.js')

block content
    section.section.hero
        include ../common/header
    section.section.about
        +triangles('about') 
        .about__left
            .about__left-title
                .block-title Обо мне
                img(src="./assets/images/svg/stars2.svg", alt="galaxy").title__icon
            .about__left-content
                .user-description
                    .user-description__image
                        img(src="./assets/images/content/avatar-big.jpg", alt="user-description__avatar").user-description__avatar    
                    .user-description__data
                        .user-description__title
                            .block-subtitle Кто я 
                            hr
                        .user-description__text.text-content
                            p Lorem, ipsum dolor sit amet consectetur adipisicing elit. In tempore non modi ex quia deserunt, beatae sint explicabo consequuntur maxime cupiditate, aliquam repudiandae tenetur natus labore voluptatum fugiat totam veritatis.
                            p Lorem, ipsum dolor sit amet consectetur adipisicing elit. In tempore non modi ex quia deserunt, beatae sint explicabo consequuntur maxime cupiditate, aliquam repudiandae tenetur natus labore voluptatum fugiat totam veritatis.
        .about__right
            .about__right-title
                .block-subtitle.block-subtitle_right Чем я могу быть вам полезен
                hr
            .about__right-description.text-content
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste velit mollitia nemo reprehenderit ipsam corrupti deleniti, blanditiis sit magni fuga eveniet hic sint illo? Quae harum voluptatem optio ipsum blanditiis. 
            .about__right-content
                - 
                    var skills = [
                        ['Frontend', [['HTML5', 30], ['CSS3', 50], ['JavaScript', 70]]],
                        ['Backend', [['HTML5', 30], ['CSS3', 50], ['JavaScript', 70]]],
                        ['Workflow', [['HTML5', 30], ['CSS3', 50], ['JavaScript', 70]]],
                    ]

                ul.skills-list
                    each skillsrow in skills
                        li.skills-list__item.skills-row
                            .skills-row__title #{skillsrow[0]}
                            ul.skills-row__list
                                each skill in skillsrow[1]
                                    li.skills-row__item
                                        figure.skill(data-percents="70")
                                            svg(viewBox="0 0 100 100" preserveAspectRatio="none").skill__figure
                                                circle(cx="50" cy="50" r="40").skill__circle.skill__circle_under
                                                circle(cx="50" cy="50" r="40").skill__circle.skill__circle_above
                                            .skill__title #{skill[0]}
    section.section.map
        .google-map
        .map__data
            .contacts
                h2.contacts__title
                    .block-subtitle.block-subtitle_contacts Контакты
                    hr
                .contacts__data
                    ul.contacts__list
                        - 
                            var contacts = [
                                ['skype', 'skype_kdn'],
                                ['phone_n', '+7 342 23 23'],
                                ['envelope_n', 'astahov@gmail.com'],
                                ['map_n', 'Minsk, Pushna 23']
                            ]
                        each item in contacts
                            li.contacts__item
                                .contacts__icon
                                    +icon(item[0], 'contacts__icon-img')
                                    .contacts__titles #{item[1]}
        footer.footer
            include ../common/footer

           
