extends ../main.layout.pug

block variables
    - var title = 'Блог';
    - var titlePage = 'БЛОГ';
    - var titleSite = 'Статьи, которые я написал';

block scripts
    script(src='about.bundle.js')

block content
    section.section.hero
        include ../common/header
        .down-btn__hero
            .down-btn
                a(href="#").down-btn__link
                    +icon('portf_arrow_down', 'down-btn__icon')
    section.blog
        +triangles('blog')
        .blog-column
            .blog-column__nav
                +nav('blog-menu', post, 0)
            .blog-column__article
                .post
                    +post('post', post)
            .blog-column__empty 
        footer.footer-blog
            include ../common/footer


