.about {
    position: relative;
    display: flex;
}

.about__left,
.about__right {
    width: 50%;
    padding-top: 20px;
}

.about__left {
    background-color: $beigelight;
    display: flex;
    padding-right: 20px;
}

.about__right {
    background-color: $beige;
}

.about__left-title,
.about__left-content {
    width: 50%;
}

.about__left-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.block-title {
    font-family: Sansus;
    color: #474b57;
    font-size: 62.94px;
    font-weight: 400;
    line-height: 0.8;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
}

.title__icon {
    transform: rotate(190deg);
    position: absolute;
    bottom: 87%;
    width: 262px;
    height: 170px;
}

.about__left-content {
    display: flex;
    flex-direction: column;
}

.user-description__avatar {
    width: 445px;
    height: 390px;
    margin-bottom: 30px;
}

.user-description__title {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.block-subtitle {
    font-family: Sansus;
    color: #474b57;
    font-size: 35px;
    font-weight: 400;
    text-transform: uppercase;
    display: flex;
    padding-bottom: 15px;
}

.text-content {
    font-family: Roboto;
    color: #474b57;
    font-size: 16px;
    font-weight: 400;
}

.user-description__text p {
    &:first-child {
        margin-bottom: 10px;
    }
}

.about__right {
    display: flex;
    flex-direction: column;
    padding: 20px 65px 0 40px;
}

.about__right-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.block-subtitle_right {
    width: 35%;
    text-align: center;
    line-height: 1;
    padding-bottom: 25px;
}

.about__right-description {
    margin-bottom: 55px;
}

hr {
    border: none;
    background-color: rgba(71, 75, 87, 0.5);
    width: 89px;
    height: 3px;
}