.author {
    position: relative;
    height: 100%;
    @include tablets {
        display: flex;
        justify-content: center;
    }
}

.author__data {
    position: absolute;
    top: 35px;
    left: 0;
    right: 0;
}

.author__icon {
    width: 460px;
    height: 270px;
    @include tablets {
        width: 281px;
        height: 166px;
    }
}

.author__avatar {
    width: 140px;
    height: 140px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
}

.author__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.author__name,
.author__info {
    text-align: center;
    color: rgba(255, 255, 255);
    @include phones {}
}

.author__name {
    font-size: 35px;
    font-weight: 500;
    @include phones {}
}

.author__info {
    font-size: 16px;
    font-weight: 400;
}

.author__name_blog {
    font-family: Sansus;
    color: #ffffff;
    font-size: 63px;
    font-weight: 400;
}