.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer__up {
  background-color: rgba(28, 31, 41, 0.85);
}

.footer__down {
  background-color: rgba(8, 60, 150, 0.85);
  text-align: center;
  padding: 10px 0;
  color: #e5e5e6;
  font-size: 15.77px;
  font-weight: 300;
}
