.trapezoid {
    position: absolute;
    bottom: 100%;
    width: 100%;
}

.trapezoid__svg {
    position: relative;
    width: 100%;
    display: block;
    fill: rgba(6, 7, 26, 0.7);
    stroke: rgba(6, 7, 26, 0.7);
}