template#skills-list
  ul.skills-list(ref="skills-list")
    li.skills-row.skills-list__item(v-for="skill in skills")
      skills-row(
        :skill="skill"
      )

template#skills-row
  .skllls-row
    .skills-row__title {{skill.skillsGroup}}
    ul.skills-row__list
      li.skills-row__item(v-for="(skillPercents, skillName) in skill.skills")
        skill(
          :skill-name="skillName"
          :skill-percents="skillPercents"
        )

template#skill
  figure.skill
    svg(viewBox="0 0 100 100" preserveAspectRatio="none").skill__figure
      circle(cx="50" cy="50" r="40").skill__circle.skill__circle_under
      circle(cx="50" cy="50" r="40" ref="color-circle").skill__circle.skill__circle_above
    .skill__title {{skillName}}