template#slider
    .slider
        slider-left(
            :work="currentWork" 
        )
        slider-right(
            :work="currentWork" 
        )
        slider-down(
            :works="works" 
            :current-index="currentIndex"
            @slide="handleSlide"
        )
        slider-up(
            :works="works" 
            :current-index="currentIndex"
            @slide="handleSlide"
        )

template#slider-left
    .slider__left
        .slider__info
            .slider__info-title
                .block-subtitle {{work.title}}
                hr.slider__info-hr
            .slider__info-skills {{work.skills}}
            .slider__info-btn
                a(:href="work.link" target="_blank").slider__info-link Посмотреть сайт

template#slider-right
    .slider__right    
        img(:src="work.photo", alt="").slider__big-pic

template#slider-down
    .slider__down
        .slider__button.slider__button_prev(@click="slide('prev')")
            .slider__button-wrap
                img(:src="getImageDown().photo", alt="").slider__button-pic

template#slider-up
    .slider__up
        .slider__button.slider__button_next(@click="slide('next')")
            .slider__button-wrap
                img(:src="getImageUp().photo", alt="").slider__button-pic