.footer__up
  .column
    ul.column__list
      li.column__item
        p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool
      li.column__item
        +works('menu', works)
        .socials
          +socialsFooter('socials', socials)
      li.column__item
        .data-contact
          +contact('data-contact', contact)
.footer__down &copy Максим Козырицкий | Создано в LoftSchool | 2018