section.section.full-menu
        .container_full-menu
            ul.full-menu__list
                li.full-menu__item
                    a(href="./works.html").full-menu__link Мои работы
                hr.full-menu__hr
                li.full-menu__item
                    a(href="./about.html").full-menu__link Обо мне
                hr.full-menu__hr
                li.full-menu__item
                    a(href="./blog.html").full-menu__link Блог
                hr.full-menu__hr
                li.full-menu__item
                    a(href="./index.html").full-menu__link Авторизация
                hr.full-menu__hr