- 
    var socials = [
        ['vk', 'http://vk.com'],
        ['github', 'http://gh.com'],
        ['in', 'http://in.com']
    ]
- 
    var works = [
        ['Мои работы', '#'],
        ['Обо мне', './about.html'],
        ['Блог', './blog.html'],
        ['Авторизация', './index.html']
    ]
.socials__hero
    .socials
        ul.socials__list
            each item in socials
                li.socials__item
                    a(href=`${item[1]}`).socials__link
                        +icon(item[0], 'socials__icon')
.hamburger__hero
    .hamburger  
        a(href="№").hamburger__link
            +icon('hamburger', 'hamburger__icon')

.author__hero
    .author
        .author__bg
            img(src="./assets/images/svg/stars1.svg", alt="galaxy").author__icon
        .author__data
            .author__avatar
                img.author__img(src="./assets/images/content/avatar-small.jpg", alt="photo__img")
            .author__desc
                .author__name.author__name_blog #{titlePage}
                .author__info #{titleSite}

.down-btn__hero
    .down-btn
        a(href="#").down-btn__link
            +icon('portf_arrow_down', 'down-btn__icon')