.socials__hero
    .socials
        +socials('socials', socials)
.hamburger__hero
    .hamburger  
        a(href="№").hamburger__link
            +icon('hamburger', 'hamburger__icon')

.author__hero
    .author
        .author__bg
            img(src="./assets/images/svg/stars1.svg", alt="galaxy").author__icon
        .author__data
            .author__avatar
                img.author__img(src="./assets/images/content/avatar-small.jpg", alt="photo__img")
            .author__desc
                .author__name.author__name_blog #{titlePage}
                .author__info #{titleSite}

