- 
    var post = [
        [
        'Самое важное в SASS', 
        "22 ноября 2015", 
        "JavaScript JavaScript JavaScript JavaScript JavaScript JavaScript JavaScript JavaScript JavaScript JavaScript JavaScript JavaScript ", 
        "Vue React Angular Vue React Angular Vue React Angular Vue React Angular Vue React Angular Vue React Angular Vue React Angular "],
        [
        'Самое важное в LESS',
        '22 ноября 2016',
        'JavaScript JavaScript JavaScript JavaScript JavaScript JavaScript JavaScript JavaScript JavaScript JavaScript JavaScript JavaScript ',
        'Vue React Angular Vue React Angular Vue React Angular Vue React Angular Vue React Angular Vue React Angular Vue React Angular '
        ],
        [
        'Самое важное в BREW',
        '22 ноября 2017',
        'JavaScript JavaScript JavaScript JavaScript JavaScript JavaScript JavaScript JavaScript JavaScript JavaScript JavaScript JavaScript ',
        'Vue React Angular Vue React Angular Vue React Angular Vue React Angular Vue React Angular Vue React Angular Vue React Angular  '
        ],
        [
        'Самое важное в RUBY',
        '22 ноября 2018 ',
        'JavaScript JavaScript JavaScript JavaScript JavaScript JavaScript JavaScript JavaScript JavaScript JavaScript JavaScript JavaScript ',
        'Vue React Angular Vue React Angular Vue React Angular Vue React Angular Vue React Angular Vue React Angular Vue React Angular '
        ]
        ]
- 
    var teacher = [
        ['Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!', 
        "Ковальчук Дмитрий", 
        "Основатель LoftSchool"],
        ['Этот код выдержит любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!',
        'Сабанцев Владимир',
        'Преподаватель']
    ]
- 
    var image = [
        "content/dima.jpg",
        'content/vova.jpg' 
        
    ]
- 
    var socials = [
        ['vk', 'http://vk.com'],
        ['github', 'http://gh.com'],
        ['in', 'http://in.com']
    ]
- 
    var works = [
        ['Мои работы', './works.html'],
        ['Обо мне', './about.html'],
        ['Блог', './blog.html'],
        ['Авторизация', './index.html']
    ]
- 
    var contact = [
        'skype_kdn', 
        "astahov@gmail.com", 
        "+7 931 200 93 24", 
        "г.Минск, ул.Ложинская,д.4"
    ]
- 
    var skills = [
        ['Frontend', [['HTML5', 30], ['CSS3', 50], ['JavaScript', 70]]],
        ['Backend', [['HTML5', 30], ['CSS3', 50], ['JavaScript', 70]]],
        ['Workflow', [['HTML5', 30], ['CSS3', 50], ['JavaScript', 70]]]
    ]
- 
    var contacts = [
        ['skype', 'skype_kdn'],
        ['phone_n', '+7 342 23 23'],
        ['envelope_n', 'astahov@gmail.com'],
        ['map_n', 'Minsk, Pushna 23']
    ]
- 
    var welc = [
        ['Мои работы', './works.html'],
        ['Обо мне', './about.html'],
        ['Блог', './blog.html']
    ]