.projects {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 2fr 1fr;
}

.projects__show {
    background-color: #e3e2de;
    width: 100%;
    height: 100%;
}

.porjects__nav {
    background-color: yellowgreen;
    width: 100%;
    height: 100%;
}